.page {
  display: flex;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  height: 100dvh;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sans);
  background-color: var(--background);
  padding: 2rem;
}

.main {
  display: grid;
  grid-template-rows: 15% 1fr;
  background-color: var(--foreground);
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.header {
  display: grid;
  align-items: center;
  width: 100%;
  justify-content: start;
  min-height: 100%;
  height: 100%;
  column-gap: 2rem;
  grid-template-columns: max-content 1fr max-content;
}

.pageTitle {
  font-family: var(--font-pixel);
  text-transform: uppercase;
  font-size: 4rem;
}

.editor {
  display: grid;
  align-items: start;
  width: 100%;
  min-height: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 1.6rem;
}
.ui {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 2rem;
  /* grid-template-columns: 1fr 1fr; */
  flex-wrap: wrap;
}

.ui > * {
  min-width: 0;
}


@media (max-width: 490px) {
  .settings {
    grid-template-columns: none;
  }
}
