.wrap {
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  height: 100%;
}

.bar {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  row-gap: 20px;
}

.group {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: start;
}

.groupItem {
  background-color: var(--surface-2);
}

